
.list{
    list-style: none;
    display:flex;
    column-gap: 25px;
    font-family: 'Fasthand', cursive;
font-family: 'Roboto Mono', monospace;
}
.list a{
    text-decoration: none;
    color: black;
}
.one{
width: 23px;
height: 2px;
background-color: black;
margin: 4px 5px;
}
.two{
width: 23px;
height: 2px;
background-color: black;
margin: 3px 5px;
}
.three{
    width: 23px;
    height: 2px;
    background-color: black;
    margin: 1px 5px;
}
.navbar{
    display: flex;

/* width: 100%; */
/* height: 80px; */
/* box-shadow: 0px 0px 3px; */
margin: 5px 30px;
}
.bgnav{
    display: none;
    height: 120px;
    background-color: white;
}
.close{
    cursor: pointer;
    display: none;
    /* margin-top: 20px; */
    position: absolute;
    left: 20px;
}
.dd{
    cursor: pointer;
}
.first{
height: 48%;
display: flex;
}
.second{
    height: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end{
    display: flex;
    position: absolute;
    right: 20px;
    column-gap: 12px;
}
.logo{
    width: 50px;
    height: 50px;
}
.mid{
    display: block;
    margin: auto;
}
.naveffects{
    animation: hue 0.5s linear;
}
@keyframes hue{
    0%{
        transform: scale(0.3);
    }
    70%{
        transform: scale(0.8);
    }
 100%{
transform: scale(1);
 }
}
.section2{
    position: absolute;
    top:26px;
    z-index: 1;
    width: 99%;
}
.reqimg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* display:block; */
    height: 600px;
    width: 100%;
    /* z-index: -1; */
    filter: blur(5px);
}

.imgcontent{
    position: absolute;
    width: 25%;
/* background: blur(5px); */
/* filter: blur(5px); */
    left: 40px;
    top: 200px;
padding: 8px 8px;
border-radius: 4px;
    color: black;

    /* border: 2px solid wheat; */
    font-family: 'Fasthand', cursive;
font-family: 'Roboto Mono', monospace;
    box-shadow: 1px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.f{
font-size: 3rem;
}
.s{
    margin: 4px 2px;
    font-size: 20px;
    color: red;
}
.xx{
    position: absolute;
    display: inline-block;

}
.section3{
 height: auto;
 width: auto;
}
.font{
    font-family: 'Fasthand', cursive;
font-family: 'Roboto Mono', monospace;
}
.t{
padding: 0px 8px;
    z-index: 1;
    position: relative;
    background-color: white;
    width: auto;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0px;
}
.title::before{
    position: absolute;
    content: "";
    height: 1px;
    background-color: black;
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
}
.section3{
    position: relative;
    width: 100vw;
}
.cmn{
    display: block;
    width: fit-content;
    margin: 0% 20%;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstblock{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.secondblock{
    display: flex;
    column-gap: 20px;
    margin: 30px 0px;
    flex-wrap: wrap;
    cursor: pointer;
}
.thirdblock
{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0px;
    cursor: pointer;
}
.btn{
    padding: 8px 40px;
    border: 2px solid pink;
    border-radius: 20px;
}
.hp{
    /* margin-left: 40%; */
    margin-top: 30px;
    margin-bottom: 40px;
}
.join{
    width: 300px;
    font-size: xx-large;
    text-align: center;
}
.main{
    transform: scale(1);
    transition:transform .5s ease;
}
.acc1{
    transform: scale(1);
    transition: transform .5s ease;
    cursor: pointer;
}
.section4{
    width: 75vw;
    height: 400px;
    background-color: #f02d34;
    border-radius: 10px;
    display: flex;
}
.todo{
    /* width: 98vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    position: relative;
}
.content{
    /* position: absolute; */
    /* top: 100px; */
    /* right: 20%; */
    margin-top: 80px;
    z-index: 1;
color: white;

}
.ft{
    margin-top: 30px;
    /* font-size: 70px; */
display: inline-block;
color: white;
/* position: absolute; */
/* top: 177px; */
margin-top: 180px;
margin-left: 20px;
}
.ig{
/* width: max-content; */
display: flex;
justify-content: center;
/* align-items: center; */

}
.bgs{
    font-size: 50px;
}
.alot{
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.newbtn{
    padding: 8px 8px;
    color: #f02d34;
    background-color: white;
    border-radius: 12px;
}
.line{
    height: 2px;
    background-color: black;
    width: 100vw;
}
.footer{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.ll{
    font-weight: bolder;
}
.finalig{
    display: flex;
    row-gap: 40px;
    margin-top: 20px;
}
.finalig i{
    margin-left: 20px;
}


/* RESPONSIVE */
@media (max-width: 600px){

.list{
    font-size: 12px;
    column-gap: 15px;
}



}
@media (max-width:420px) {
    .list{
        font-size: 9px;
        column-gap: 11px;
    }
.end{
    right: 1px;
}
.mid img{
    width: 80px;
}
}
@media (max-width: 340px){
    .end{
        column-gap: 6px;
    }
    .list{
        column-gap: 8px;
        font-size: 7px;
    }
.close{
    left: 2px;
}
}

@media (max-width: 1050px){
    .f{
        font-size: 2rem;
    }
}
@media (max-width: 820px){
    .f{
        font-size: 1.2rem;
    }
    .s{
        font-size: 14px;
    }
    .imgcontent{
        width: 35%;
    }
}
@media (max-width: 500px){
    .imgcontent{
        width: 45%;
    }
    .f{
        font-size: 0.9rem;
    }
    .s{
        font-size: 10px;
    }
}
@media (max-width:1280px){
.main img{
    width: 200px;
}

}
@media (max-width : 1024px){
    .main img{
        width: 150px;
    }
}
/* 490 768 */
@media (max-width : 768px){
    .main img{
        width: 300px;
    }
}
@media (max-width: 620px){
    .main img{
        width: 260px;
    }
}
@media (max-width: 540px){
    .main img{
        width: 220px;
    }
}
@media (max-width: 460px){
    .main img{
        width: 180px;
    }
}

@media (max-width: 380px){
    .main img{
        width: 140px;
    }
}
@media(max-width: 310px){
    .main img{
        width: 100px;
    }
}
@media (max-width: 1185px){
    .bgs{
        font-size: 20px;
    }
}
@media(max-width: 864px){
    .ft p{
        font-size: 10px;
    }
}
@media (max-width : 420px){
    .ft{
        margin-top: 110px;
    }
    .ig img{
width: 480px;
    }
    .content{
        margin-top: 30px;
    }
    .alot{
        margin-top: 10px;
    }
}